.todos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 10px;
}
.todo_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  margin: 10px;
  padding: 10px;
  gap: 10px;
  border-radius: 12px;
  width: 100%;
}
.button_container {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
